[user]
  name = Purag Moumdjian
  email = me@purag.me
  signingkey = F2D46DF4
[commit]
  gpgsign = true
[core]
  excludesfile = ~/.files/meat/git/ignore
[push]
  default = upstream
[rebase]
  autosquash = true
[rerere]
  enabled = true
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
[alias]
  # add
  a = add

  # status
  st = status
  s = status

  # log
  l = log --pretty=format:'%C(yellow)%h %C(green)%cd %C(reset)%s%C(magenta)%d %C(blue)[%an]' --date=short
  lg = log --pretty=format:'%C(yellow)%h %C(green)%cd %C(reset)%s%C(magenta)%d %C(blue)[%an]' --date=short --graph

  # checkout
  to = checkout

  # catchup
  cu = !git checkout gh-pages && git rebase master && git push  && git checkout master

# link this file in ~
# purag/.files!link
